/****** DOM ELEMENTS **********************/
h1 text-align center,
#page-header {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3 font-size 24px,
#how-to-read > ol > li    font-size 18px margin-bottom 12px,
#info-box {
  font-size: 14px;
}
select {
  font-size: 14px;
  color: #000;
  float: right;
}
#select-title {
  float: right;
  display: inline-block;
}
/*****    TEXT STYLING    *********/
body {
  background: #e6e6e6;
  font-family: 'Droid Sans';
  font-size: 16px;
  color: #333;
}
/********* VISUALIZATION *************/
.container {
  padding: 20px;
}
.poverty {
  color: #000;
  background: #e72a3c;
}
.poverty circle.scatterdot,
.poverty circle.scatterdot2 {
  opacity: 0.8;
}
.poverty circle.scatterdot.active,
.poverty circle.scatterdot2.active {
  stroke-width: 2px;
  stroke: #4682b4;
  r: 6px;
  fill: #222;
  opacity: 1;
}
.poverty #chart,
.poverty g.tick {
  font-size: 13px;
  fill: #fff;
}
.poverty .x.axis g.tick {
  color: #ccc;
  stroke-opacity: 0.8;
}
.zero-hunger {
  background: #dda63a;
}
.child-mortality {
  background: #48a034;
  color: #000;
}
.child-mortality circle.scatterdot,
.child-mortality circle.scatterdot2 {
  opacity: 0.25;
}
.child-mortality circle.scatterdot.active,
.child-mortality circle.scatterdot2.active {
  stroke-width: 2px;
  r: 6px;
  fill: #222;
  opacity: 1;
}
.education {
  color: #000;
  background: #c51c2d;
}
.education g.tick {
  font-size: 12px;
  fill: #fff;
}
/* 5 GENDER EQUALITY */
.gender {
  background: #e44825;
}
.gender g.tick {
  font-size: 12px;
  fill: #fff;
}
.gender circle.scatterdot.active,
.gender circle.scatterdot2.active {
  stroke-width: 1px;
  stroke: #4682b4;
  r: 6px;
  fill: #222;
}
.water {
  background: #2bbbdd;
}
.water g.tick {
  font-size: 12px;
  fill: #fff;
}
.water line.verticalGrid,
.water line.verticalGrid2,
.water line.horizontalGrid,
.water line.horizontalGrid2 {
  stroke: #ccc;
}
.water circle.scatterdot.active,
.water circle.scatterdot2.active {
  stroke-width: 2px;
  stroke: #68f;
  r: 6px;
}
.energy {
  background: #fbbf0f;
  color: #000;
}
.energy #page-header {
  color: #fff;
}
.labor {
  background: #a21b43;
  color: #000;
}
.labor g.tick {
  font-size: 12px;
  fill: #fff;
}
.innovation {
  background: #ee6b2f;
  color: #fff;
}
.innovation g.tick {
  font-size: 12px;
  fill: #fff;
}
.innovation .y.axis path,
.innovation .y.axis line {
  stroke: none;
}
.innovation circle.scatterdot.active,
.innovation circle.scatterdot2.active {
  fill: #164767;
  stroke: #68f;
}
.inequality {
  color: #000;
  background: #dd1e66;
}
.inequality #chart g.tick {
  font-size: 12px;
}
.inequality #chart .x.axis g.tick {
  color: #ccc;
  stroke-dasharray: 1, 1;
  stroke-opacity: 0.8;
}
.consumption {
  color: #000;
  background: #b98831;
}
.consumption #page-header {
  color: #fff;
}
.consumption circle.scatterdot {
  stroke: #fff;
  stroke-width: 2px;
}
.consumption circle.active {
  fill: #fff;
  stroke: #4682b4;
}
.climate {
  background: #3a7c46;
  color: #fff;
}
.climate circle.scatterdot {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1px;
  fill-opacity: 0.25;
}
.climate circle.active {
  fill-opacity: 1;
  fill: #164767;
  stroke: #68f;
  stroke-width: 2px;
}
.fish {
  background: #2193d0;
}
/*********** global viz  *********/
.axis {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.d3-tip {
  width: 150px;
  background-color: rgba(255,255,255,0.85);
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: #222;
}
/* Style data points */
.scatterdot,
.scatterdot2 {
  stroke: #e0e0e0;
  stroke-width: 1px;
  stroke-opacity: 1;
  opacity: 0.6;
  fill: #fff;
  fill-opacity: 0.6;
}
.scatterdot.active,
.scatterdot2.active {
  stroke: #c66611;
  stroke-width: 2px;
  stroke-opacity: 1;
  opacity: 1;
  fill: #000;
  fill-opacity: 1;
}
