/*****    TEXT STYLING    *********/
$color1 = #333
$font1 = 'Droid Sans'

/**********************************/

body
  background  #e6e6e6
  font-family $font1
  font-size   14px
  color       $color1

.container
  padding 20px


/* Individual Chart Styles *****/
.container.child-mortality
  background: #48a034

.container.poverty
  background: #e72a3c

/***** 1.) ZERO HUNGER ************/
.container.zero-hunger
  background: #dda63a

/***** 2.) QUALITY EDUCATION ************/
.container.education
  color #000
  background: #c51c2d

.education g.tick
  font-size 12px
  fill white

.education line.verticalGrid, .education line.verticalGrid2,
.education line.horizontalGrid, .education line.horizontalGrid2
  stroke #ccc



/**********************************/

h1 text-align center

h3 font-size 24px

#how-to-read > ol > li    font-size 18px margin-bottom 12px
#info-box
  font-size 14px


select
  font-size 14px
  color black
  margin-right 20px
/*********** Visualization  *********/
.axis
  font-family "Helvetica Neue", Helvetica, sans-serif

.axis path,
.axis line
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;


.d3-tip
  width: 150px;
  background-color: rgba(255, 255, 255, 0.85);

  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  /*color: #478D2E;*/
  color: #222;


.viz
  /*background-color: #478D2E;*/


/* Style data points */
circle.active
  r 6px

.scatterdot, .scatterdot2
  stroke: #E0E0E0;
  stroke-width: 1px;
  stroke-opacity: 1;
  opacity: 0.6;
  fill: #fff;
  fill-opacity: 0.6;

.scatterdot.active, .scatterdot2.active
  stroke #C66611
  stroke-width: 2px;
  stroke-opacity: 1;
  opacity: 1;
  fill: #000;
  fill-opacity: 1;


#select-title
  float right
  display inline-block