body {
    background: #e6e6e6;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    color: #fff;
}

.container {
    background: #48a034;
    padding: 20px;
}

.searchButton {
    color: #000;
    margin-left: 15px;
}

h1 {text-align: center;}

h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

/* Visualization  *********/

.content {
    background: white;
    padding-top:2%;
}

.axis { font-family: "Helvetica Neue", Helvetica, sans-serif; }

.axis path,
.axis line {
    fill: none;
    stroke: #FFF;
    shape-rendering: crispEdges;
}

.d3-tip{
    width: 150px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-family: sans-serif;
    /*color: #478D2E;*/
    color: #222;
}

.viz {
    margin:2%;
    /*background-color: #478D2E;*/
}

.dot {
    stroke: #E0E0E0;
    stroke-width: 1px;
    opacity: 0.5;
}

.goal {
    stroke-width: 2px;
}


.goal-num {
    fill: #222;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.goal-line-text {
    fill: white;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

    letter-spacing: 1px;
}