/****** DOM ELEMENTS **********************/

h1 text-align center
#page-header
  font-family "Oswald"
  font-weight 400
  font-size 50px
  text-transform uppercase
  letter-spacing 1px

h3 font-size 24px

#how-to-read > ol > li    font-size 18px margin-bottom 12px
#info-box
  font-size 14px

select
  font-size 14px
  color black
  margin-right 20px

#select-title
  float right
  display inline-block

/*****    TEXT STYLING    *********/
$color1 = #333
$font1 = 'Droid Sans'

body
  background  #e6e6e6
  font-family $font1
  font-size   16px
  color       $color1

/********* VISUALIZATION *************/
.container
  padding 20px

.poverty /* 1 POVERTY */
  color black
  background: #e72a3c
  circle.scatterdot,
  circle.scatterdot2
    opacity 0.8
  circle.scatterdot.active,
  circle.scatterdot2.active
    stroke-width 2px
    stroke steelblue
    r 6px
    fill #222
    opacity 1
  #chart
  g.tick
    font-size 13px
    fill white
  .x.axis
    g.tick
      color #ccc
      stroke-opacity 0.8

.zero-hunger /* 2 ZERO HUNGER */
  background: #dda63a

.child-mortality /* 3 CHILD MORTALITY */
  background: #48a034
  color black
  circle.scatterdot,
  circle.scatterdot2
    opacity 0.25
  circle.scatterdot.active,
  circle.scatterdot2.active
    stroke-width 2px
    r 6px
    fill #222
    opacity 1

.education /* 4 EDUCATION */
  color #000
  background: #c51c2d
  g.tick
    font-size 12px
    fill white

/* 5 GENDER EQUALITY */
.gender
  background #E44825
  g.tick
    font-size 12px
    fill white
  circle.scatterdot.active,
  circle.scatterdot2.active
    stroke-width 1px
    stroke steelblue
    r 6px
    fill #222

.water /* 6 WATER ACCESS */
  background #2bbbdd
  g.tick
    font-size 12px
    fill white

  circle.scatterdot.active,
  circle.scatterdot2.active
    stroke-width 2px
    stroke #E9432E
    r 4px

  line.verticalGrid, line.verticalGrid2, line.horizontalGrid, line.horizontalGrid2
    stroke #ccc

  circle.scatterdot.active,
  circle.scatterdot2.active
    stroke-width 2px
    stroke #68f
    r 4px

.energy /* 7 ENERGY ACCESS */
  background #fbbf0f
  color #000
  #page-header
    color white

.labor /* 8 DECENT ECONOMIC WORK AND GROWTH */
  background #a21b43
  color #000
  g.tick
    font-size 12px
    fill white

.innovation /* 9 INNOVATION */
  background #ee6b2f
  color #fff
  g.tick
    font-size 12px
    fill white
  .y.axis path, .y.axis line
    stroke none
  circle.scatterdot.active, circle.scatterdot2.active
    fill #164767
    stroke #68f

.inequality /* 10 REDUCED INEQUALITIES */
  color #000000
  background #dd1e66

  #chart
    g.tick
      font-size 12px
    .x.axis
      g.tick
        color #ccc
        stroke-dasharray 1, 1
        stroke-opacity 0.8
        

/*********** global viz  *********/
.axis
  font-family "Helvetica Neue", Helvetica, sans-serif

.axis path,
.axis line
  fill none
  stroke #FFF
  shape-rendering crispEdges

.d3-tip
  width: 150px;
  background-color: rgba(255, 255, 255, 0.85);

  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  font-family: sans-serif;
  color: #222;

/* Style data points */
circle.active
  r 6px

.scatterdot, .scatterdot2
  stroke: #E0E0E0;
  stroke-width: 1px;
  stroke-opacity: 1;
  opacity: 0.6;
  fill: #fff;
  fill-opacity: 0.6;

.scatterdot.active, .scatterdot2.active
  stroke #C66611
  stroke-width: 2px;
  stroke-opacity: 1;
  opacity: 1;
  fill: #000;
  fill-opacity: 1;