.sustainable #map {
  font: 12px sans-serif;
}
.sustainable path {
  stroke-width: 1px;
  stroke: #fff;
  fill: #b5b5b5;
  cursor: pointer;
}
.sustainable path:hover,
.sustainable path.highlighted {
  fill: #ff6347;
}
.sustainable div.world-tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}
